<%= simple_form_for(@tweeet) do |f| %>
<%= f.error_notification %>
<div class="field" style="padding-left:10px">
  <div class="control">
    <%= f.input :Tweeet , label: "Tweet about it", input_html:{ class: "textare" }, wrapper: false,label_html: {class: "label"},placeholder:
    "compose a new tweet..." %>

  </div>

</div>
<%= f.button :submit , class:"button is-info" ,style:"margin-left:10px" %>
<%end %>
